

<div class="site">
 


<div class="row">




  <div class="col-md-12">
  

<br><br>
 <div class="card">


      <div class="card-body">
     <div  class="table-responsive">
    
  <table class="table table-striped">
    <thead>
    <tr>
      

      <th class="hidden">ID</th>
     
<th>Currency</th>

     
         <!--  <th >Address</th> -->
           <th >Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of currency index as i;">
      
<td>{{i+1}}</td>
 <td  >{{t.currency}}</td>
             
                <!-- <td>{{receive_address}}</td>
                <td><p>
      <img src="https://blockchain.info/qr?data={{receive_address}}&size=200" />
    </p></td> -->
                  <td style="color:green;" (click)="generate_address(t.currency)">Get Address
         </td>


    </tr>
    </tbody>
  </table>
  



  

</div>
</div></div>

  </div>
</div>
</div>