<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Address</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <div *ngIf="show">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addaddress()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>







    <ion-card *ngFor="let add of address_list index as i;">


      <ion-card-content>

        <ion-list>
          Name : {{add.name}} <br />
          Mobile Number : {{add.mobile_number}}<br />
          Address Line 1 : {{add.address}}<br />
          City : {{add.city}}<br />
          Pincode : {{add.pincode}}

        </ion-list>


        <ion-button type="submit" (click)="select(add.address_id)" expand="block" size="default">Select
        </ion-button>
      </ion-card-content>
    </ion-card>








  </div>




  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>