


<div class="site">
 

<div class="row">
  <div class="col-md-12">
  	<mat-accordion>
     <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Booking Details 
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
   Booking Id: {{booking_id}}
<br>
{{name}}<br>
{{amount}} Rs.<br>
Rate:{{rate}}<br>
client Name: {{client_name}}<br>
{{start_time}} to {{end_time}}<br>
Status: {{status}}



  </mat-expansion-panel>

</mat-accordion>

<br>
  	<mat-accordion>
     <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Partner Details 
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
   Id: {{id}}
<br>
{{name}}<br>
Guard Total sell  : {{totalguardbooking}}<br>
Total Booking Amount :: {{guardtotalbookingamount}}<br>
<figure class="figure" style="padding:30px;">
  <img src="{{profile1}}" class="img-thumbnail"  width="200px" height="200px">
  <figcaption class="figure-caption">picture1</figcaption>
</figure>


<figure class="figure" style="padding:30px;">
  <img src="{{profile2}}" class="img-thumbnail"  width="200px" height="200px">
  <figcaption class="figure-caption">picture2</figcaption>
</figure>


<figure class="figure" style="padding:30px;">
  <img src="{{profile3}}" class="img-thumbnail"  width="200px" height="200px">
  <figcaption class="figure-caption">picture3</figcaption>
</figure>


<figure class="figure" style="padding:30px;">
  <img src="{{profile4}}" class="img-thumbnail"  width="200px" height="200px" >
  <figcaption class="figure-caption">picture4</figcaption>
</figure>


<figure class="figure" style="padding:30px;">
  <img src="{{profile5}}" class="img-thumbnail"  width="200px" height="200px">
  <figcaption class="figure-caption">picture5</figcaption>
</figure>
  </mat-expansion-panel>
</mat-accordion>

<br>
<mat-accordion>
     <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Customer Details 
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
   Id: {{customer_id}}
<br>
{{customer_name}}<br>
Customer Total Purcahse Amount ::{{customertotalbookingamount}}<br>
Total booking : {{totalcustomerbooking}}<br>
 Total Cancellation :: {{totalcancelbooking}}
  </mat-expansion-panel>



</mat-accordion>


<br>
	<mat-accordion>
     <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
      Upcoming Booking History
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
  
  <div  class="table-responsive">

   


  <table id="t01" class="table table-striped">
    <thead >
    <tr>
      <th>SNo.</th>  
      <th>Booking Id</th>  
       <th>Rate</th>  
       <th>Amount</th>  
       <th>Client Name </th>  
       <th>Date</th>
           
            
           
          </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of upcoming index as i ">
      <td>{{i+1}}</td>
       <td   >{{q.booking_id}}</td>
      <td   >{{q.rate}}</td>
 <td   >{{q.amount}}</td>
 <td   >{{q.client_name}}</td>
 <td   >{{q.start_time}} to  {{q.end_time}}</td>
  
      
 
         


    </tr>
    </tbody>
  </table>
</div>

  </mat-expansion-panel>
</mat-accordion>







<br>
	<mat-accordion>
     <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
     Past Booking History
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
  
  <div  class="table-responsive">

   


  <table id="t01" class="table table-striped">
    <thead >
    <tr>
      <th>SNo.</th>  
      <th>Booking Id</th>  
       <th>Rate</th>  
       <th>Amount</th>  
       <th>Client Name </th>  
       <th>Date</th>
           
            
           
          </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of past index as i ">
      <td>{{i+1}}</td>
       <td   >{{q.booking_id}}</td>
      <td   >{{q.rate}}</td>
 <td   >{{q.amount}}</td>
 <td   >{{q.client_name}}</td>
 <td   >{{q.start_time}} to  {{q.end_time}}</td>
  
      
 
         


    </tr>
    </tbody>
  </table>
</div>

  </mat-expansion-panel>
</mat-accordion>
</div></div></div>