


<div class="site">
 

<div class="row">
  <div class="col-md-12">
    
      <div class="card">

  
  <div class="card-body">

<h1 class="card-title" *ngIf="type=='all_partner'">All Partners</h1>
<h1 class="card-title" *ngIf="type=='active_partner'">Active Partners</h1>
<h1 class="card-title" *ngIf="type=='suspended_partner'">Suspended Partners</h1>
<h1 class="card-title" *ngIf="type=='new_registered_partner'">New Register Partners</h1>
<h1 class="card-title" *ngIf="type=='remove_request_partner'">Remove Request Partners</h1>

 
  <div  class="table-responsive">

   


  <table id="t01" class="table table-striped">
    <thead >
    <tr>
      <th>SNo.</th>  
      <th>Name</th>  
       <th>Email</th>  
       <th>Date</th>  
       <th>Status</th>
       <th>Account Status</th>

      
           
            
           
          </tr>
    </thead>
    <tbody>
    <tr *ngFor="let q of users index as i ">
      <td>{{i+1}}</td>
       <td   >{{q.first_name}}</td>
      <td   >{{q.email}}</td>
 <td   >{{q.created_at}}</td>
 <td><span *ngIf="q.status==1">
<button mat-button (click)="sendtostatus(q.id)" style="color:green">Approve</button></span>
<span *ngIf="q.status==0">
<button mat-button (click)="sendtostatus(q.id)" style="color:red"> Pending</button></span></td>
<td><span *ngIf="q.account_status==1">
                        <button mat-button (click)="sendtoaccountstatus(q.id)" style="color:green"> Account Delete Request</button></span>
                        <span *ngIf="q.account_status==0">
                        <button mat-button  style="color:red"> No Request</button></span></td>

  
      
 
         


    </tr>
    </tbody>
  </table>
</div>


<!-- 
  <div  class="table-responsive">




<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
       
          <div class="example-element-symbol">  <img src="{{element.profile_pic}}" width="50px" height="50px"> </div>

        </div>
        <div class="example-element-description">
        
      

<div class="row">
      
<div class="col">
      


  </div>

      </div>
 





<br>
Status : 
<span *ngIf="element.status==1">
                        <button mat-button (click)="sendtostatus(element.id)" style="color:green">Approve</button></span>
                        <span *ngIf="element.status==0">
                        <button mat-button (click)="sendtostatus(element.id)" style="color:red"> Pending</button></span>

<br>
Account Status:
<span *ngIf="element.account_status==1">
                        <button mat-button (click)="sendtoaccountstatus(element.id)" style="color:green"> Account Delete Request</button></span>
                        <span *ngIf="element.account_status==0">
                        <button mat-button  style="color:red"> No Request</button></span>

          <span class="example-element-description-attribution"> </span>


 <button mat-button (click)="sendto(element.id,element.email,element.first_name,element.balance)" style="color:blue">Send Payment</button>
          <span class="example-element-description-attribution"> </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>






</div>
 -->
    <div  *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>

  </div>
</div>  
<div class="text-center" *ngIf="testCount==0">

 
 
<p>No Users found</p>
</div>
  </div>
</div>
</div>
</div>
</div>
















 


