<ion-content transparent background-size>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-title>Menu</ion-title>
    </ion-buttons>
  </ion-toolbar>




  <ion-list>


    <!--    <ion-item routerLink="/wishlist" routerLinkActive="active" >
              <ion-icon color="dark" slot="start" name="heart"></ion-icon>
              <ion-label color="dark">
                <b>Wishlist</b>
              </ion-label>
              <ion-icon  slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            

              <ion-item routerLink="/order"  >



                <ion-icon color="dark" slot="start" name="list"></ion-icon>
                <ion-label color="dark">
                  <b>Order History</b>
                </ion-label>
                <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-item>
 
              <ion-item routerLink="/brand-list"  >
                <ion-icon color="dark" slot="start" name="list"></ion-icon>
                <ion-label color="dark">
                  <b>Brand List</b>
                </ion-label>
                <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-item>





              <ion-item routerLink="/subcategory" >
                <ion-icon color="dark" slot="start" name="person-circle-outline"></ion-icon>
                <ion-label color="dark">
                  <b>Categories</b>
                </ion-label>

                <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-item>


              <ion-item routerLink="/product-list"  >
                <ion-icon color="dark" slot="start" name="bag-handle"></ion-icon>
                <ion-label color="dark">
                  <b>Products</b>
                </ion-label>
                <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-item>

              -->


    <ion-item>

      <ion-label color="dark">
        <b>Terms and conditions</b>
      </ion-label>

      <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>




    <ion-item>

      <ion-label color="dark">
        <b>Refund policy</b>
      </ion-label>

      <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>






    <ion-item>

      <ion-label color="dark">
        <b>Contact details</b>
      </ion-label>

      <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>



    <ion-item>

      <ion-label color="dark">
        <b>Contact details</b>
      </ion-label>

      <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
    </ion-item>



    <!--    <ion-item routerLink="/ticket-history" routerLinkActive="active" >
              <ion-icon  color="dark" slot="start" name="people"></ion-icon>

            


              <ion-label  color="dark">
                <b>Support Tickets</b>
              </ion-label>
              <ion-icon  slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
            </ion-item>


              <ion-item routerLink="/profile" routerLinkActive="active">
                <ion-icon color="dark" slot="start" name="person-add"></ion-icon>
                <ion-label color="dark">
                  <b>Profile</b>
                </ion-label>
                <ion-icon slot="end" color="primary" name="chevron-forward-outline"></ion-icon>
              </ion-item>

-->
    <ion-item (click)="logout()">
     
      <ion-label color="dark">
        <b>Logout</b>
      </ion-label>
      <ion-icon color="primary" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>



  </ion-list>




</ion-content>