body
{
  background: url(https://forsage.io/img/photos/cat_figure.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #031b4d;
}


 