<ion-header [translucent]="true">
  <ion-toolbar>

  	<ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
   
    <ion-title>Brand List</ion-title> </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Brand List</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid>

          <ion-row>

            <ion-col *ngFor="let t of brand_list">

<ion-card (click)="submit('brands',t.id)">
          <img src="{{t.cover}}" width="350" height="100">
          <ion-card-header>
          <!--   <ion-card-subtitle>{{t.id}}</ion-card-subtitle> -->
            <ion-card-title>{{t.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
     
          </ion-card-content>
        </ion-card>
</ion-col>
            


    </ion-row></ion-grid>
  <!-- <app-explore-container name="{{randNumber}}"></app-explore-container> -->
</ion-content>
