


<h1 class="card-title">Order History</h1>

<div class="row">

  <div class="col-md-6">
    
    
    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
    
   



      <div class="form-group mx-sm-3 mb-2">
        <input type="date" class="form-control" id="date_search" placeholder="Date" formControlName="date_search">
      </div>
      <button type="submit" class="btn btn-secondary btn-sm ">Search</button>
    
    </form>
    
    <form class="form-inline" [formGroup]="ordersearchForm" (ngSubmit)="ordersearch()">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" width=10 class="form-control" id="order_id" placeholder="Order Id  " formControlName="order_id">
      </div>
      <button type="submit" class="btn btn-secondary btn-sm ">Search Order Id</button>
   
    
    </form>
 
    </div>
  <div class="col-md-6">
    
   
    
    
    <p> Pending :: Customer booked order 
 
    <br />
    On-hold:: After review complete we asked buyer to make payment and buyer is taking time 
    
    <br/>
    Processing :: After payment received we ship  the order 
    <br/>
    Completed :: After ship customer received the order
    
    
    
    </p>  
    </div>
</div>




<button (click)="add()" class="btn btn-secondary btn-sm">Add Order</button>
<mat-tab-group    >
  <mat-tab label="Pending">
    <div class="table-responsive">

      <table class="table table-striped">

        <thead>
          <tr>

            <td>Order id</td>

            <td>created_at</td>

            <td>Customer name</td>

            <td>mobile_number</td>

            <td>Total items</td>

            <td>Order amount</td>

            <td>order_status</td>
            <td>


            </td>
          </tr>


        </thead>


        <tbody>
          <tr *ngFor="let t of orders_history index as i;">


             


 
            <td  *ngIf="t.order_status     ==   'pending'"  (click)="sendto(t.id)">{{t.id}}</td>
 
            <td  *ngIf="t.order_status     ==   'pending'"   (click)="sendto(t.id)">{{t.created_at}}</td>
            <td   *ngIf="t.order_status     ==   'pending'"  (click)="sendto(t.id)">{{t.name}}</td>
            <td  *ngIf="t.order_status     ==   'pending'"   (click)="sendto(t.id)">{{t.mobile_number}}</td>


            <td  *ngIf="t.order_status     ==   'pending'"   (click)="sendto(t.id)">{{t.quantity}}</td>

            <td   *ngIf="t.order_status     ==   'pending'"   (click)="sendto(t.id)">{{t.total}}</td>


            <td  *ngIf="t.order_status     ==   'pending'"     (click)="sendto(t.id)">{{t.order_status}}</td>




            <td  *ngIf="t.order_status     ==   'pending'"    > <button (click)="edit(t.id)" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="delete(t.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </mat-tab>








  
  <mat-tab label="On-hold">
    <div class="table-responsive">

      <table class="table table-striped">

        <thead>
          <tr>

            <td>Order id</td>

            <td>created_at</td>

            <td>Customer name</td>

            <td>mobile_number</td>

            <td>Total items</td>

            <td>Order amount</td>

            <td>order_status</td>
            <td>


            </td>
          </tr>


        </thead>


        
        <tbody>
          <tr *ngFor="let t of orders_history index as i;">


             


 
            <td  *ngIf="t.order_status     ==   'On-hold'"  (click)="sendto(t.id)">{{t.id}}</td>
 
            <td  *ngIf="t.order_status     ==   'On-hold'"   (click)="sendto(t.id)">{{t.created_at}}</td>
            <td   *ngIf="t.order_status     ==   'On-hold'"  (click)="sendto(t.id)">{{t.name}}</td>
            <td  *ngIf="t.order_status     ==   'On-hold'"   (click)="sendto(t.id)">{{t.mobile_number}}</td>


            <td  *ngIf="t.order_status     ==   'On-hold'"   (click)="sendto(t.id)">{{t.quantity}}</td>

            <td   *ngIf="t.order_status     ==   'On-hold'"   (click)="sendto(t.id)">{{t.total}}</td>


            <td  *ngIf="t.order_status     ==   'On-hold'"     (click)="sendto(t.id)">{{t.order_status}}</td>




            <td  *ngIf="t.order_status     ==   'On-hold'"    > <button (click)="edit(t.id)" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="delete(t.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>


      </table>

    </div>
  </mat-tab>


  
  
  <mat-tab label="Processing">
    <div class="table-responsive">

      <table class="table table-striped">

        <thead>
          <tr>

            <td>Order id</td>

            <td>created_at</td>

            <td>Customer name</td>

            <td>mobile_number</td>

            <td>Total items</td>

            <td>Order amount</td>

            <td>order_status</td>
            <td>


            </td>
          </tr>


        </thead>


        
        <tbody>
          <tr *ngFor="let t of orders_history index as i;">


             


 
            <td  *ngIf="t.order_status     ==   'Processing'"  (click)="sendto(t.id)">{{t.id}}</td>
 
            <td  *ngIf="t.order_status     ==   'Processing'"   (click)="sendto(t.id)">{{t.created_at}}</td>
            <td   *ngIf="t.order_status     ==   'Processing'"  (click)="sendto(t.id)">{{t.name}}</td>
            <td  *ngIf="t.order_status     ==   'Processing'"   (click)="sendto(t.id)">{{t.mobile_number}}</td>


            <td  *ngIf="t.order_status     ==   'Processing'"   (click)="sendto(t.id)">{{t.quantity}}</td>

            <td   *ngIf="t.order_status     ==   'Processing'"   (click)="sendto(t.id)">{{t.total}}</td>


            <td  *ngIf="t.order_status     ==   'Processing'"     (click)="sendto(t.id)">{{t.order_status}}</td>




            <td  *ngIf="t.order_status     ==   'Processing'"    > <button (click)="edit(t.id)" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="delete(t.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>


      </table>

    </div>
  </mat-tab>




  <mat-tab label="Completed">
    <div class="table-responsive">

      <table class="table table-striped">

        <thead>
          <tr>

            <td>Order id</td>

            <td>created_at</td>

            <td>Customer name</td>

            <td>mobile_number</td>

            <td>Total items</td>

            <td>Order amount</td>

            <td>order_status</td>
            <td>


            </td>
          </tr>


        </thead>


        
        <tbody>
          <tr *ngFor="let t of orders_history index as i;">


             


 
            <td  *ngIf="t.order_status     ==   'Completed'"  (click)="sendto(t.id)">{{t.id}}</td>
 
            <td  *ngIf="t.order_status     ==   'Completed'"   (click)="sendto(t.id)">{{t.created_at}}</td>
            <td   *ngIf="t.order_status     ==   'Completed'"  (click)="sendto(t.id)">{{t.name}}</td>
            <td  *ngIf="t.order_status     ==   'Completed'"   (click)="sendto(t.id)">{{t.mobile_number}}</td>


            <td  *ngIf="t.order_status     ==   'Completed'"   (click)="sendto(t.id)">{{t.quantity}}</td>

            <td   *ngIf="t.order_status     ==   'Completed'"   (click)="sendto(t.id)">{{t.total}}</td>


            <td  *ngIf="t.order_status     ==   'Completed'"     (click)="sendto(t.id)">{{t.order_status}}</td>




            <td  *ngIf="t.order_status     ==   'Completed'"    > <button (click)="edit(t.id)" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="delete(t.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>


      </table>

    </div>
  </mat-tab>
  <mat-tab label="All">
    <div class="table-responsive">

      <table class="table table-striped">

        <thead>
          <tr>

            <td>Order id</td>

            <td>created_at</td>

            <td>Customer name</td>

            <td>mobile_number</td>

            <td>Total items</td>

            <td>Order amount</td>

            <td>order_status</td>
            <td>


            </td>
          </tr>


        </thead>


        <tbody>
          <tr *ngFor="let t of orders_history index as i;">

            <td (click)="sendto(t.id)">{{t.id}}</td>
            <td (click)="sendto(t.id)">{{t.created_at}}</td>
            <td (click)="sendto(t.id)">{{t.name}}</td>
            <td (click)="sendto(t.id)">{{t.mobile_number}}</td>


            <td (click)="sendto(t.id)">{{t.quantity}}</td>

            <td (click)="sendto(t.id)">{{t.total}}</td>


            <td (click)="sendto(t.id)">{{t.order_status}}</td>




            <td> <button (click)="edit(t.id)" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="delete(t.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </mat-tab>
</mat-tab-group>