<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title> My Orders</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-item *ngFor="let t of orders_list" routerLink="/order/order-detail/{{t.order_id}}">

    <ion-thumbnail slot="start">
      <img src="{{t.product.cover}}">
    </ion-thumbnail>







    <table class="table">


      <tr class="m-15">


        <td colspan="3">
          <p class="p-5"> {{t.product.name}}</p>


        </td>
      </tr>
      <tr>
        <td> Qty {{t.product.quantity}} </td>
        <td> ID {{t.order_id}}</td>
        <td>Status {{t.order.order_status}} </td>

      </tr>

    </table>




  </ion-item>




  <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>


</ion-content>